body{
  font-family: Helvetica, Arial, sans-serif;
  color:#333;
}
#tweets{
  padding-bottom: 10px;
}
.meetup{
  margin-bottom:40px;
}
.meetup:last-child{
  margin-bottom:10px;
}

.meetup h2 a{
  color:#C13008;
}
.meetup h3{
  font-size:30px;
}
.meetup h4, .meetup h5{
  font-size:20px;
}

.meetup .descript{
  float:right;
}

.meetup .date_time{
  float:left;
  text-align:right;
}
br { clear: both; }

a#directions_control{
  display:none;
  padding:20px 0;
  font-size: 32px;
  font-weight: bold;
  text-align:center;
  color:#fff;
  text-shadow: 0 1px 0 #000;
  text-decoration: none;
  text-align: center;
  background: #F16427;
}
#map_canvas {
  display: none;
  width: 900px;
  height: 900px;
  margin: 20px 0;
}
#footer{
  border-top:1px solid #E44C23;
  padding:50px 0;
  text-align:center;
  color:#fff;
  text-shadow: 0 1px 0 #000;
  background: #F16427; /* old browsers */
  background: -moz-linear-gradient(top, #F16427 1%, #E44C23 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#F16427), color-stop(100%,#E44C23)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F16427', endColorstr='#E44C23',GradientType=0 ); /* ie */
}
#footer a {
  color:#fff;
}
#footer p{
  margin-bottom:10px;
}
#footer p:last-child{
  margin-bottom:0;
}

.brand img {
  float: right;
  padding-right: 20px;
  margin-top: -3px;
}

.nav li{
  margin-right:10px;
}

.space_bottom {
  padding-bottom:20px;
}