body{
  font-family: Helvetica, Arial, sans-serif;
  color:#333;
}
#wrapper{
  width:920px;
  margin:0 auto;
  padding:20px 0 0 0;
}
#mast{
  width:920px;
  height:300px;
}
#events{
  padding:20px;
  width:600px;
  float:left;
}
#tweets{
  width:250px;
  float:left;
}
.meetup{
  margin-bottom:40px;
}
.meetup:last-child{
  margin-bottom:10px;
}
.meetup h2{
  color:#e44d26;
  font-size:26px;
  font-weight:bold;
  margin-bottom:20px;
}
.meetup h2 a{
  color:#C13008;
}
.meetup h3{
  font-size:60px;
  font-weight:bold;
  line-height:100%;
  margin:-5px 0 -12px 0;
}
.meetup h4, .meetup h5{
  font-size:30px;
  line-height:100%;
  margin-bottom:-5px;
}

.meetup p{
  font-family:Palatino, 'Palatino Linotype', 'Hoefler Text', Times, 'Times New Roman', serif;
  font-style:italic;
  line-height:16px;
  color:#666;
  font-size:14px;
  margin-top:6px;
}

.meetup .descript{
  float:right;
  width:450px;
}
.meetup strong{
  font-weight:bold;
}
.meetup .date_time{
  float:left;
  text-align:right;
  width:120px;
}
br { clear: both; }
#footer{
  border-top:1px solid #E44C23;
  padding:50px 0;
  text-align:center;
  color:#fff;
  text-shadow: 0 1px 0 #000;
  background: #F16427; /* old browsers */
  background: -moz-linear-gradient(top, #F16427 1%, #E44C23 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#F16427), color-stop(100%,#E44C23)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F16427', endColorstr='#E44C23',GradientType=0 ); /* ie */
}
#footer a {
  color:#fff;
}
#footer p{
  margin-bottom:10px;
}
#footer p:last-child{
  margin-bottom:0;
}